<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
<meta name="theme-color" content="#ffffff">

<link rel="apple-touch-icon" sizes="180x180" href="/st/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/st/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/st/favicon-16x16.png">
<link rel="manifest" href="/st/site.webmanifest">

<link rel="stylesheet" href="/st/bootstrap.min.css">

<link rel="stylesheet" href="/st/tunsgo.css">
